<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li>
        <%= link_to 'Users', users_path %>
      </li>
      <li>
        <%= link_to 'Twits', twits_path %>
      </li>
    </ul>
  </nav>
</div>